<main class="container-fluid footer bg-black">

    <section class=" main-container">


        <section class=" col-md-3  col-0 custom-border text-light p-5">

            <h3 class="my-4  pb-2">About The Restaurant</h3>
            
            <div class="my-4">

              <p class="text-light">One of the most popular on the Restaurants.</p>
          
              <p>
                 <i class="fa-solid fa-location-dot p-1"></i> 
                 Egypt, Mansoura
                    
              </p>
    
               <p>
                    <i class="fa-solid fa-phone p-1"></i>
                    +01 321 654 824
                </p>

                <p>
                    <i class="fa-solid fa-envelope p-1"></i>
                    Restau  &#64; Restau.com
                </p>

            </div>
         
    
        </section>

        

        <section class="  col-md-3 col-0 custom-border text-light p-5">

            <h3 class="my-4   pb-2"> Quick Links</h3>
           
            <div class="my-4  pb-2">
            <a  href="#" class="">About Us</a>
            <a href="#" class="my-2">order Now!</a>
            <a href="#" class="my-2">Food</a>
            <a href="#" class="my-2">Cold Drinks</a>
            </div>
            
        </section>

        

        <section class="custom-border  col-md-3 col-0 text-light p-5">

            <h3 class="my-4 pb-2">Support</h3>
           
            <div class=" my-4">
                <a href="#">My Account</a>
                <a href="#" class="my-2">Checkout</a>
                <a href="#" class="my-2 ">Privacy</a>
                <a href="#" class="my-2">Help & Support</a>
            </div>

        </section>



      
        <section class="custom-border  col-md-3 col-0 text-light p-5">

            <h3 class="my-4 pb-2">Newsletter</h3>
          
            <div class="my-4">
                <p>To get the latest news and latest updates from us.</p>
                <form>
                    <div class="form-group">
                      <label for="email">Your E-mail Address:</label>
                      <input type="email" class="form-control my-3" id="email" placeholder="Enter your email">
                    </div>
                    <button type="submit" class="my-1 w-100 custom-btn custom-radius">Subscribe</button>
                  </form>
            </div>
            
        </section>


</section>

</main>