<div class="sweet-loading d-flex justify-content-center align-items-center vh-100 vw-100">
    <div class="loader-container rounded-circle">
      <img
        src="https://media.istockphoto.com/id/1502384708/photo/hand-of-young-male-chef-putting-aromatic-herb-on-top-of-roasted-meat.webp?b=1&s=612x612&w=0&k=20&c=wg8mYBkygGlNvv5acJ4lAUWwp2XBr7PjhEUYJezy7Ko="
        alt="Logo"
        class="loader-image rounded-circle"
      />
      <div class="loader-overlay rounded-circle">
        <!-- You can use a custom spinner or an Angular-compatible spinner library here -->
        <div class="spinner"></div>
      </div>
    </div>
  </div>
  