<main class="constainer-fluid order-container">

    <section class="row justify-content-center">
      
       @for(order of orders; track order.id){
   
        <div 
         *ngIf="shouldDisplayCard(order)" 
          class="col-lg-3 mx-2 col-md-5 col-11 pb-4 pt-4 card my-5"
        >

         <h3>User:{{order.userId}}</h3>

         @for(item of order.orderItems; track item ){

           <hr/>

            <div *ngIf="item.status !== 'completed'">

              <h4 class="text-center my-2">{{item.productName}}</h4>

              <p>
                <strong>Quantity:</strong>
                {{item.quantity}}
              </p>

              <p>
                <strong>Notes:</strong>
                {{item.note}}
              </p>

              <section 
               class="confirmation-badge position-absolute top-0 end-0 m-2 p-2 custom-btn text-white"
              >
                {{ formatConfirmationTime(item.confirmationTime) }}
              </section>

              <section class="custom-btn col-12 text-center">

                  <label>
                    <strong>Status:</strong>
                  </label>

                  <select 
                   class="mx-1" 
                   [value]="item.status" 
                   (change)="onStatusChange($event, order,item)"
                   >
                    <option [value]="item.status" class="bg-secondary text-light">{{ item.status }}</option>
                    <option value="confirmed" *ngIf="item.status === 'pending'">confirmed</option>
                    <option value="completed" *ngIf="item.status !== 'completed'">Completed</option>

                  </select>
              
              </section>

            </div>
        }

        <h5 class="my-4">
        Total Price:{{order.totalPrice | currency}}
        </h5>
        
    </div>
  }

    </section>

</main>
