<main class="container-fluid main-dashboard">

    <section class="row custom-cursor">

        <aside class="col-md-12 col-12 col-lg-6 img-container">
            <img
                src="https://media.istockphoto.com/id/1409730576/photo/chef-decorating-a-plate-while-working-at-a-commercial-kitchen.jpg?s=612x612&w=0&k=20&c=_f8cFVgRJ44UEhY7mbTU4oW0yIJJCpJEJp9IbDQAm5g="
                alt="Chef decorating a plate"
                class="img-fluid"
            />
        </aside>
        


        <aside class="col-md-12  col-12  col-lg-5  mx-lg-5 my-5 d-flex flex-column align-items-center justify-content-center">
           
            <div 
             routerLink="/dashboard/addProduct" 
             class="dashboard-router my-3"
            >
                <a>Add New Product</a>

            </div>

            
            <div 
             routerLink="/dashboard/showOrders" 
             class="dashboard-router my-3"
            >
                <a>Show Orders</a>

            </div>
            
            
        </aside>
        



      
    </section>

</main>